<div style="flex-direction: row;" fxLayoutAlign="center center">
  <form style="margin-top: 10px" class="mat-card mat-elevation-z2" fxFlex="50" fxLayout="column" [formGroup]="pwResetForm">

    <div style="font-size: 20px; text-align: center; padding: 5px 0 10px 0">Reset Password <mat-divider></mat-divider></div>

    <mat-form-field fxFlex style="font-size: 14px">
      <input type="password" matInput placeholder="Password" required="true" name="password" formControlName="password">
      <mat-error *ngIf="pwResetForm.get('password').hasError('pattern')">
        Minimum eight characters, at least one letter, one number and one special character.
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex style="font-size: 14px">
      <input type="password" matInput placeholder="Re-type Password" formControlName="retypePassword" required="true">
      <mat-error *ngIf="pwResetForm.controls['retypePassword'].errors?.MatchPassword">
        Password does't match
      </mat-error>
    </mat-form-field>

    <!--    <div style="font-size: 15px; color: #43A047; padding-bottom: 10px">{{emailSentMsg}}</div>-->

    <div fxLayoutAlign="center center">
      <button mat-raised-button color="primary" [disabled]="pwResetForm.invalid" (click)="resetPassword()">
        <mat-icon>save&nbsp;</mat-icon>Reset Password</button>
    </div>

  </form>

</div>
