<div class="line-pad" fxLayout="row" fxLayoutAlign="space-between start">
  <form fxFlex="45" fxLayout="column" style="padding: 15px" [formGroup]="examForm">
    <mat-form-field fxFlex>
      <mat-select placeholder="Select Education Level" formControlName="educationLevel">
        <mat-option [value]="null">-- None --</mat-option>
        <mat-option *ngFor="let educationLevel of educationLevelList" [value]="educationLevel._id">
          {{educationLevel.educationLevel}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput placeholder="Exam/Degree Title" formControlName="exam">
    </mat-form-field>

    <div *ngIf="!isShowExamUpdate" fxFlex fxLayout="row" fxLayoutAlign="center">
      <button type="submit" fxFlex="25" fxFlex.xs="50" mat-raised-button color="primary"
              (click)="saveExam()">
        <mat-icon>save</mat-icon>
        Save
      </button>&nbsp;&nbsp;
      <button fxFlex="25" fxFlex.xs="50" mat-raised-button color="warn" (click)="clearExamFields()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </div>
    <div *ngIf="isShowExamUpdate" fxFlex fxLayout="row" fxLayoutAlign="center">
      <button fxFlex="25" fxFlex.xs="50" mat-raised-button color="primary"
              (click)="updateExam()">
        <mat-icon>update</mat-icon>
        Update
      </button>&nbsp;&nbsp;
      <button fxFlex="25" fxFlex.xs="50" mat-raised-button color="warn" (click)="clearExamFields()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </div>
  </form>

  <div fxFlex="45">
    <table mat-table [dataSource]="examDataSource" class="mat-elevation-z1">

      <ng-container matColumnDef="sl">
        <th mat-header-cell *matHeaderCellDef> SL </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="exam">
        <th mat-header-cell *matHeaderCellDef> Exam/Degree Title </th>
        <td mat-cell *matCellDef="let element"> {{element.exam}} </td>
      </ng-container>

      <ng-container matColumnDef="educationLevel">
        <th mat-header-cell *matHeaderCellDef> Education Level </th>
        <td mat-cell *matCellDef="let element"> {{element.educationLevel.educationLevel}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="goToEditExam(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteExam(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsExam"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsExam;"></tr>

    </table>

    <mat-paginator #examPaginatorId [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>
