<div class="line-pad" fxLayout="row" fxLayoutAlign="space-between start">
  <form fxFlex="45" fxLayout="column" style="padding: 15px" [formGroup]="skillForm">
    <mat-form-field fxFlex>
      <input matInput placeholder="Skill Name" formControlName="skill">
    </mat-form-field>

    <div *ngIf="!isShowSkillUpdate" fxFlex fxLayout="row" fxLayoutAlign="center">
      <button type="submit" fxFlex="25" fxFlex.xs="50" mat-raised-button color="primary"
              (click)="saveSkill()">
        <mat-icon>save</mat-icon>
        Save
      </button>&nbsp;&nbsp;
      <button fxFlex="25" fxFlex.xs="50" mat-raised-button color="warn" (click)="clearSkillFields()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </div>
    <div *ngIf="isShowSkillUpdate" fxFlex fxLayout="row" fxLayoutAlign="center">
      <button fxFlex="25" fxFlex.xs="50" mat-raised-button color="primary"
              (click)="updateSkill()">
        <mat-icon>update</mat-icon>
        Update
      </button>&nbsp;&nbsp;
      <button fxFlex="25" fxFlex.xs="50" mat-raised-button color="warn" (click)="clearSkillFields()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </div>
  </form>

  <div fxFlex="45">

    <table mat-table [dataSource]="skillDataSource" class="mat-elevation-z1">

      <ng-container matColumnDef="sl">
        <th mat-header-cell *matHeaderCellDef> SL </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="skill">
        <th mat-header-cell *matHeaderCellDef> Skill Name </th>
        <td mat-cell *matCellDef="let element"> {{element.skill}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="goToEditSkill(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteSkill(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsSkill"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSkill;"></tr>

    </table>

    <mat-paginator #skillPaginatorId [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>

  </div>
</div>
