<div fxFlex="90" fxFlexOffset="5" class="mat-card mat-elevation-z2 card-padding-shrink">

  <div fxLayout="row" fxLayoutAlign="center center" style="font-size: 25px; color: #fff; background: #283593">
    <p>Choose Your Template For Resume</p>
  </div>

  <div class="image-area" fxLayout="row" fxLayoutAlign="space-evenly center">
    <a class="image-frame" fxFlex="27" [routerLink]="['./templateOne']">
      <img class="image" src="assets/images/cv_temp_1.PNG" alt="image" width="100%" height="100%">
      <div class="middle">
        <div class="text">Click For This Template</div>
      </div>
    </a>
    <a class="image-frame" fxFlex="27" [routerLink]="['/userInfo']">
      <img class="image" src="assets/images/cv_temp_1.PNG" alt="image" width="100%" height="100%">
      <div class="middle">
        <div class="text">Click For This Template</div>
      </div>
    </a>
    <a class="image-frame" fxFlex="27" [routerLink]="['/userInfo']">
      <img class="image" src="assets/images/cv_temp_1.PNG" alt="image" width="100%" height="100%">
      <div class="middle">
        <div class="text">Click For This Template</div>
      </div>
    </a>
  </div>


</div>



