<div class="line-pad" fxLayout="row" fxLayoutAlign="space-between start">
  <form fxFlex="40" fxLayout="column" style="padding: 15px" [formGroup]="postForm">
    <pre>{{ postForm.value | json}}</pre>

    <mat-form-field fxFlex>
      <mat-select placeholder="Select District" formControlName="district" (selectionChange)="getUpazilaListByDistrict( postForm.value.district)">
        <mat-option *ngFor="let district of districtList" [value]="district._id">
          {{district.districtName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-select placeholder="Select Upazila" formControlName="upazila">
        <mat-option *ngFor="let upazila of upazilaListByDistrict" [value]="upazila._id">
          {{upazila.upazilaName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput placeholder="Post Code" formControlName="postCode">
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput placeholder="Post Name" formControlName="postName">
    </mat-form-field>

    <div *ngIf="!isShowPostUpdate" fxFlex fxLayout="row" fxLayoutAlign="center">
      <button type="submit" fxFlex="25" fxFlex.xs="50" mat-raised-button color="primary" [disabled]="postForm.invalid"
              (click)="savePost()">
        <mat-icon>save</mat-icon>
        Save
      </button>&nbsp;&nbsp;
      <button fxFlex="25" fxFlex.xs="50" mat-raised-button color="warn" (click)="clearPostFields()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </div>
    <div *ngIf="isShowPostUpdate" fxFlex fxLayout="row" fxLayoutAlign="center">
      <button fxFlex="25" fxFlex.xs="50" mat-raised-button color="primary" [disabled]="postForm.invalid"
              (click)="updatePost()">
        <mat-icon>update</mat-icon>
        Update
      </button>&nbsp;&nbsp;
      <button fxFlex="25" fxFlex.xs="50" mat-raised-button color="warn" (click)="clearPostFields()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </div>
  </form>

  <div fxFlex="55">

    <table mat-table [dataSource]="postDataSource" class="mat-elevation-z1">

      <ng-container matColumnDef="sl">
        <th mat-header-cell *matHeaderCellDef> SL </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="postCode">
        <th mat-header-cell *matHeaderCellDef> Post Code </th>
        <td mat-cell *matCellDef="let element"> {{element.postCode}} </td>
      </ng-container>
      <ng-container matColumnDef="postName">
        <th mat-header-cell *matHeaderCellDef> Post Name </th>
        <td mat-cell *matCellDef="let element"> {{element.postName}} </td>
      </ng-container>
      <ng-container matColumnDef="upazilaName">
        <th mat-header-cell *matHeaderCellDef> Upazila </th>
        <td mat-cell *matCellDef="let element"> {{element.upazila.upazilaName}} </td>
      </ng-container>
      <ng-container matColumnDef="districtName">
        <th mat-header-cell *matHeaderCellDef> District </th>
        <td mat-cell *matCellDef="let element"> {{element.district.districtName}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="goToEditPost(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deletePost(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator #postPaginatorId [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>

  </div>
</div>
