<!--forgot pw-->
<div fxLayout="column">

  <div align="right">
    <button mat-icon-button color="warn" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form fxFlex fxLayout="column" [formGroup]="sendEmailForm">
    <mat-form-field fxFlex style="font-size: 14px">
      <input matInput placeholder="Input user mail to reset password" name="email" formControlName="sendEmail">
      <mat-error *ngIf="sendEmailForm.get('sendEmail').hasError('pattern')">Invalid Email</mat-error>
    </mat-form-field>
    <div style="font-size: 15px; color: #cc8100" *ngIf="isResultShow">Email Sending. Please Wait...</div>
    <div style="font-size: 15px; color: #43A047; padding-bottom: 10px">{{emailSentMsg}}</div>

    <div fxLayoutAlign="center center">
      <button mat-button color="primary" [disabled]="sendEmailForm.invalid" (click)="sendEmail()">Send Email&nbsp;<mat-icon>send</mat-icon></button>
    </div>

  </form>


</div>
<!--forgot pw-->
